*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shoes{
   
   height: 100vh;
    position: relative;
}
.main{
    font-size: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
}

#red{
    background-color: red;
    
}
#green{
    background-color: green;
    
}
#yellow{
    background-color: yellow;
    
}


.image{
 
{
.title_one&two {
   display: inline-block;
    
    
    
{   
.title_three {
        
    {   
    









