*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#red{
    background-color: red;
 
  
}
#green{
    background-color: green;
    
   
}
#yellow{
    background-color: yellow;
    
  
}

.shoes{
    width: 1000px;
    height: auto;
    position: relative;
}


.image{
   
}

h2{
    font-size: 50px;
    position: absolute;
    bottom:5px;
    left:500px;
    color: black;
    transform: translate(-50%, -50%);
{   
.yellow{
    background-color: yellow; 
}









